h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

footer {
  background: black;
}

/*********************
*** CUSTOM CLASSES ***
*********************/

.gc1 {
  grid-column: 1/-1;
}

.gc2 {
  grid-column: 2;
}

.tc {
  text-align: center;
}

.intro-title {
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px rgba(102, 50, 187, 0.651);
  background: -webkit-linear-gradient(#00bccd, #f0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/************
*** BY ID ***
************/
#intro-container {
  grid-column: 1/-1;
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: 30px 1fr 30px;
  border-bottom: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 53%);
  border-image-slice: 0 0 1 0;
  box-shadow: 0 4px 2px -2px rgb(185, 185, 185);
}

#introduction {
  text-align: left;
}

#intro {
  grid-column: 2/-2;
  padding: 20px 0;
}

#hero-img {
  max-width: 150px;
  align-self: center;
}

#introduction {
  padding: 10px 0 15px 0;
}

#introduction h1,
#introduction h2 {
  font-size: 1.25em;
  margin: 10px 0;
}

#introduction p {
  margin: 25px 0;
  font-size: 0.8em;
}

#intro-links {
  display: flex;
  flex-direction: column;
}

#intro-links a {
  font-size: 0.7em;
  text-decoration: none;
  color: rgb(153, 0, 255);
}

#intro-links a:hover {
  font-size: 0.75em;
  color: #f0f;
  text-shadow: -1px 2px 2px rgb(229, 190, 255);
}

#skills-container {
}

#skills {
  text-align: left;
}

#skills article {
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #f0f 0%, #00bcdd 100%);
  border-image-slice: 1 1 1 1;
  margin: 20px 0;
  padding: 20px 20px;
  height: 150px;
}

#skills h2 {
  margin-top: 0;
  font-size: 1em;
  height: 20px;
}

#skills p {
  font-size: 0.75em;
  height: 70px;
}

#skills a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(148, 5, 167);
}

#skills a:hover {
  font-size: 16px;
  color: #f0f;
}

@media only screen and (min-width: 500px) {
  #intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 50px;
  }

  #hero-img {
    grid-column: 2;
    max-width: 200px;
    margin: auto;
  }

  #introduction {
    grid-column: 1;
    grid-row: 1/-1;
    align-self: center;
  }

  #intro-links {
    justify-content: center;
    grid-column: 1/-1;
    margin: auto;
    grid-row: 2;
  }
}

@media only screen and (min-width: 770px) {
  #intro-container {
    padding: 50px 0;
    grid-template-columns: 5vw 1fr 5vw;
  }

  #introduction h1,
  #introduction h2 {
    font-size: 1.75em;
  }

  #introduction p,
  .ghost-button {
    font-size: 0.9em;
  }

  #hero-img {
    max-width: 250px;
  }

  #skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

@media only screen and (min-width: 975px) {
  #intro-container {
    grid-template-columns: 10vw 1fr 10vw;
  }

  #intro {
    column-gap: 8vw;
  }

  #introduction h1,
  #introduction h2 {
    font-size: 2.5em;
  }

  .ghost-button {
    font-size: 1em;
  }

  #hero-img {
    max-width: 275px;
  }
}

@media only screen and (min-width: 1200px) {
  #intro-container {
    grid-template-columns: 15vw 1fr 15vw;
  }
}
