/****************
*** UNIVERSAL ***
****************/
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  color: #0e0b16;
  overflow-x: hidden;
}

header {
  grid-column: 1/-1;
  vertical-align: middle;
  padding-bottom: 5px;
}

nav {
  height: 50px;
  grid-column: 2;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

main {
  grid-column: 2;
  margin-top: -20px;
}

footer {
  grid-column: 1/-1;
}

a {
  text-decoration: none;
  color: rgb(100, 41, 179);
}

a:hover {
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
}

/******************
*** BURGER MENU ***
******************/
#main-nav-menu {
  width: 60px;
  margin-top: 8px;
  height: auto;
  grid-column: 2;
  justify-self: flex-end;
  border: none;
  background: white;
}

.burger-line {
  background: grey;
  width: 50px;
  height: 7px;
  margin-top: 6px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: linear-gradient(45deg, #00bcdd 10%, #f0f 120%);

  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#main-nav {
  display: none;
}

/***********************
*** BURGER ANIMATION ***
***********************/
.rotate-down {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.fadeout {
  opacity: 0;
}

/* Rotate last bar */
.rotate-up {
  -webkit-transform: rotate(45deg) translate(-10px, -10px) ;
  transform: rotate(45deg) translate(-10px, -10px) ;
}

/**********************
*** MOBILE NAV MENU ***
**********************/
.mobile-nav-open {
  height: 100vh;
  position: absolute;
  opacity: .5;
}

/*******************
*** GHOST BUTTON ***
*******************/
.ghost-button {
  background-color: #fff;
  color: #101832;
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 50px 0;
  align-self: center;
  text-transform: uppercase;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
  border-image-slice: 1 1 1 1;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.ghost-button:hover,
.ghost-button:focus {
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(55, 23, 97, 0.185);
  font-weight: bold;
}

/**************
*** CLASSES ***
**************/
.gradient-border {
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
  border-image-slice: 0 0 1 0;
}

.grid3x20 {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.gray-text {
  color: gray;
  font-size: 1em;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#main-nav-list li,
#skills-list li,
#projects-list li {
  display: inline-block;
}

#main-nav-list li {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  padding-right: 30px;
}

#main-nav-list li:last-child {
  padding-right: 0px;
}

#intro {
  text-align: center;
  padding: 20px 0;
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: column;
}

#introduction {
  text-align: left;
  font-size: 15px;
  padding-bottom: 10px;
}

#intro h1,
h2 {
  margin: 15px 0px;
  padding: 0px;
  font-family: "Inconsolata", monospace;
}

#intro h1 {
  font-size: 2em;
}

#intro h2 {
  color: rgb(115, 37, 179);
  font-size: 1.25em;
}

#hero-img {
  max-width: 150px;
  align-self: center;
}

#introduction p {
  font-size: 1em;
  line-height: 1.5;
}

.skill-header {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
}


#skills-list {
  display: grid;
  grid-gap: 10px;
  margin-left: -5px;
  text-align: center;
}

.skill {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 10%, #f0f 160%);
  border-image-slice: 1 1 1 1;
  max-width: 100%;
}

.skill figure {
  color: rgb(115, 37, 179);
}

@media only screen and (min-width: 600px) {
  header {
    border: 3px #00bcdd solid;
    border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
    border-image-slice: 0 0 1 0;
  }

  #main-nav-menu {
    display: none;
  }

  #main-nav {
    display: flex;
  }

  main {
    margin-top: 20px;
  }

  #skills-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
