@import url("https://fonts.googleapis.com/css?family=Inconsolata");
html,
body {
  font-family: "Inconsolata", monospace;
  font-size: 1.13em;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50px 2fr 1fr 50px;
}
.btn {
  background-color: #fff;
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
  border-image-slice: 1 1 1 1;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(55, 23, 97, 0.185);
  font-weight: bold;
}

.container {
  width: 100%;
  grid-column: 2;
  margin-top: 50px;
}

header {
  height: 50px;
  grid-column: 1/-1;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
  border-image-slice: 0 0 1 0;
}

nav {
  display: flex;
  margin-right: 20px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0 0 0 auto;
  height: 50px;
}

li {
  padding-right: 20px;
  margin: auto 0;
}

li:last-child {
  padding-right: 0;
}

.larger-text {
  font-size: 1.5em;
}
