body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  color: #444444;
}

main {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  padding: 60px 0 40px 0;
}

header {
  display: flex;
  height: 60px;
  border-bottom: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 53%);
  border-image-slice: 0 0 1 0;
  box-shadow: 0 4px 2px -2px rgb(185, 185, 185);
  position: fixed;
  width: 100vw;
  background: white;
}

footer {
  padding: 20px;
  background: rgb(230, 230, 230);
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

.small-link {
  font-size: 12px !important;
  font-weight: normal !important;
  font-family: "Montserrat", sans-serif;
  padding: 10px 2px;
  color: #f0f;
}

.purple {
  color: rgb(153, 0, 255);
}

#main-nav {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/******************
*** BURGER MENU ***
******************/
#main-nav-menu {
  margin-right: 20px;
  border: none;
  background: white;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2;
}

.burger-line {
  width: 45px;
  height: 5px;
  margin-top: 6px;
  margin-bottom: 5px;
  background: linear-gradient(45deg, #f0f 0%, #00bcdd 89%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bl-fade {
  background: linear-gradient(45deg, #00bcdd 0%, #f0f 89%);
}

/*********************
*** MENU ANIMATION ***
*********************/
.rotate-down {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-40deg);
  transform: translateY(12px) rotate(135deg);
}

/* Fade out the second bar */
.fadeout {
  opacity: 0;
}

/* Rotate last bar */
.rotate-up {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px);
  -webkit-transform: rotate(40deg);
  transform: translateY(-12px) rotate(-135deg);
}

/*******************
*** GHOST BUTTON ***
*******************/
.ghost-button {
  background-color: #fff;
  color: #101832;
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px 0;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  text-transform: uppercase;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #f0f 100%);
  border-image-slice: 1 1 1 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.ghost-button:hover,
.ghost-button:focus {
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(55, 23, 97, 0.185);
  font-weight: bold;
}
